<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="myConString" connectionString="Data Source=DESKTOP-EESBJQL;Initial Catalog=FIVESTARDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="FiveStarHotal.Properties.Settings.FIVESTARDBConnectionString"
   connectionString="Data Source=DESKTOP-EESBJQL;Initial Catalog=FIVESTARDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>